@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px auto auto  auto;
    min-height: 100vh;
    gap:2px;
    margin: 0px  150px;
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

header, nav{
    border: 1px solid rgb(55, 55, 55);
}

nav{
    grid-column-start: 1;
    grid-column-end: 3;
}

.explanation{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid rgb(55, 55, 55);
    
}

.sample{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid rgb(55, 55, 55);
    padding-bottom: 50px;
    padding-left:10px;
    padding-right: 10px;
    
}

aside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border: 1px solid rgb(55, 55, 55);
    
}

footer{
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgb(55, 55, 55);
    text-align: center;
    
}



h1,h2,h3{
    font-family: 'Algreya';
    font-size: 2rem;
}

p{
    font-family: 'Algreya';
    font-size: 2rem;
}
.explanation{
    padding: 50px;
}
.sample{
    padding: 50px;
}

.output{
    padding: 50px;
}

aside{
    padding: 50px;
}


nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

a{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    text-decoration: none;
}

button{
    background-color: lightcoral;
    border:none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

button:hover{
    transition: 200ms;
    background-color: lightgreen;
    color:white;
}

.navBtn{
    border-right: 1px solid rgb(41, 40, 37);
}

body{
    background-color: lightblue;
}

html{
    color:rgb(39, 39, 39);
}

header{
    background-color: lightblue;
    color:white;
    font-weight: bold;
}

p{
    font-family: 'Algreya';
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'Algreya';
}